  @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&family=Plus+Jakarta+Sans:ital,wght@0,700;1,500;1,800&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #83869a;
    font-family: Plus Jakarta Sans;
}

.container{
    width: 90%;
    margin: auto;
    padding: 1rem;
    background-color: #fff;
    
}

a{
    text-decoration: none;
}

button{
     padding: 0.7rem 1.2rem;
    /* background-color: #13183f; */
    color: #ffffff;
    border-radius: 10px;
    border: transparent;
}

p{
    color: #83869a;
  line-height: 1.7rem;
  font-weight: lighter;
  font-weight: 3px;
  font-size: 16px;
  font-family: Plus Jakarta Sans;
}

.header{
    /* padding: 2rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3{
    color: #13183f;
    /* margin-top: 0.7rem; */
}

.header button{
    background-color: #13183f;
    color: #ffffff;
}

.skill-budget-img h3{
  padding: 2rem 0;
  font-size: 2.2rem;
}

.skill-budget-img p{
  color: #83869a;
  line-height: 1.5rem;
  /* padding: 0 1rem; */
  /* font-size: 1.2rem; */
}

.skill-budget button{
    margin: 2rem 0;
    background-color: #f02aa6 -#ff6f48;
    background-image: linear-gradient(to right, #f02aa6, #ff6f48);
}

.card:first-child{
    background-image: linear-gradient(to right, #f02aa6, #ff6f48);
    padding: 2.5rem 2.5rem 2.5rem 1rem;
    border-radius: 10px;
    color: #ffffff;
    text-align: left;
}

.card{
  border: 2px solid #ffffff;
  background-color: #ffffff;
  padding: 2rem 2rem 2rem 1rem;
  margin: 1rem 0;
}

.card h3{
    padding: 1rem 0;
}

.card h4{
    /* text-decoration: none; */
    padding: 1rem 0;
    color: #f02aa6;
    /* background-color: #f02aa6; */
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13183f;
    color: #ffffff;
    padding: 1rem 0.5rem;
}

footer button{
    background-image: linear-gradient(to right, #4851ff, #f02aa6);
}