  @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&family=Plus+Jakarta+Sans:ital,wght@0,700;1,500;1,800&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Plus Jakarta Sans;
    overflow-x: hidden;   
}

.container{
    background-color: #fff;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

button{
     padding: 0.7rem 1.2rem;
    /* background-color: #13183f; */
    color: #ffffff;
    border-radius: 20px;
    border: transparent;
}

p{
  color: #83869a;
  line-height: 1.7rem;
  font-weight: lighter;
  font-weight: 3px;
  font-size: 16px;
  font-family: Plus Jakarta Sans;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.5rem;
}

.header h3{
    color: #13183f;
}

.header button{
    background-color: #13183f;
    color: #ffffff;
}

.hero-desktop, .hero-tab{
    display: none;
}

.hero-mobile{
   display: flex;
   justify-content: center;
   align-items: center;
}

.skill-budget-img h3{
  padding: 2rem 0;
  font-size: 2.2rem;
}

.skill-budget{
    padding: 0 1rem;
}

.skill-budget-img p{
  color: #83869a;
  line-height: 1.5rem;
}

.skill-budget button{
    margin: 2rem 0;
    background-image: linear-gradient(to bottom, #ff6f48 60%, #f02aa6);
}

.card:first-child{
    background-image: linear-gradient(to bottom, #ff6f48 35%, #f02aa6);
    padding: 1rem;
    border-radius: 10px;
    color: #ffffff;
    text-align: left;
    box-shadow: unset;
    border: unset;
    margin-bottom: 1.5rem;
}

.card{
  border: 2px solid #ffffff;
  background-color: #ffffff;
  padding: 2rem 1rem;
  margin-bottom: 1.8rem;
  /* border: 10px solid white; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  margin: 0 1rem;

}

.icon{
    position: absolute;
    top: -10%;
    left: 7%;
}

.card p, .card h3:first-child, .skill-budget-img p{
     display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
     overflow: hidden;
   }


.card h3{
    padding: 1rem 0;    
}

.card h4{
    padding: 1rem 0;
    color: #f02aa6;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13183f;
    color: #ffffff;
    padding: 2rem 0.5rem;
    margin-top: 2rem;
}

footer h3{
    padding-left: 1rem;
    /* margin-left: 2rem; */
}

footer button{
    background-image: linear-gradient(to bottom, #4851ff, #f02aa6 100%);
}

/* small screen */
@media screen and (max-width:375px) {
    .skill-budget p{
        font-size: 1rem;
    }

    .skill-budget-img h3{
        font-size: 2.5rem;
    }

    .card h3:first-child{
        font-size: 1.5rem;
    }
}

/* tablet */
@media screen and (min-width:768px) {
    .container{
        border: 5px solid #ffff;
        /* width: 90%; */
    }

    .hero-mobile{
        display: none;
    }

    .header{
      padding: 1rem;
    }

    .skill-budget-img{
        display: grid;
        grid-template-columns: 70% 40%;
        width: 90%;
        position: relative; 
        padding-left: 1rem;    
    }

    .skill-budget{
        margin-top: 3.5rem;
    }

    .skill-budget p{
        font-size: 1.06rem;
    }

    .hero-tab{
        display: block;
        position: absolute;
        top: 2%;
        right: -17%;
        overflow-x: hidden;
        transform: translate(190px, -100px);
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    .hero-tab img{
        width: 540px;
        height: 540px;
        object-fit: cover;   
    }

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 6rem;
        padding: 0 1rem;
    }

    .cards .card:first-child{
        padding: 2rem 1rem;
        margin-bottom: unset;
    }

    .unique{
        margin-bottom: unset;
      font-size: 0.3rem;
      display: flex;
      justify-content: center;    
    }

    .card{
        margin: 1rem 0;
    }
      .card h3:first-child{
        font-size: 1.9rem;
        margin: 0 1rem;
    }

   .card p, .card h3:first-child, .skill-budget-img p{
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
        overflow: hidden;
   }

   .card p{
        font-size: 1rem;
   }

   footer h3, header h3{
    font-size: 2rem;
   }

   button{
    /* padding: 1rem 2rem; */
    font-size: 1rem;
    border-radius: 25px;
   }

}

/* large screen */
@media screen and (min-width:989px){
    body{
        background-color: #fff;
    }

    .container{
        width: 77%;
        margin: 2rem auto;
    }

    .header{
        margin: 0 2rem;
    }

    .header button{
        margin-right: 4rem;
        background-color: #666ca3;
    }
    
    .skill-budget{
        padding-left:  3rem;
    }

    .skill-budget-img{
        grid-template-columns: 54.5% 40%;
    }

    .skill-budget-img h3{
        font-size: 2.9rem;
    }

     .hero-tab{
        display: block;
        position: absolute;
        top: -5%;
        right: -70px;  
    }

    /* .hero-desktop{
        display: block;
    } */

   .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 3rem;
    margin-top: 2rem;
   }
  
  .card p{
    font-size: 0.9rem;
    
  }

  .card h4:hover{
     color: #ffa7c3; 
  }

  footer h3{
    padding-left: 2.7rem;
  }

  footer button{
    margin-right: 2.7rem;
  }
  
  .skill-budget-img button:hover{
       background-image: linear-gradient(to bottom, #ff70b3, #ffb78b);
       cursor: pointer;
  }

  footer button:hover{
     background-image: linear-gradient(to bottom, #99a0ff, #ff70b3);
     cursor: pointer;
  }
 
   }
